<!-- Container for entire page with min-height to push footer down -->
<PartnersWeb.Layouts.app flash={@flash} current_scope={@current_scope}>
  <section
    class="relative mx-auto flex min-h-screen w-full flex-grow flex-col overflow-hidden"
    aria-labelledby="hero-title"
  >
    <div
      class="absolute inset-0 bg-cover bg-center bg-no-repeat opacity-90"
      style="background-image: url('/images/passion.jpg');"
    >
      <div aria-label="Background image shows couple passionately kissing."></div>
    </div>

    <video
      id="hero_video"
      class={["absolute h-full w-full max-w-none object-cover object-center opacity-50"]}
      src={~p"/videos/fire.mp4"}
      playsinline
      autoplay
      muted
      video_type="video/mp4"
      aria-label="Background video of fire igniting, symbolising the re-ignition of passion in life"
    />
    <!-- Overlay for better text visibility -->
    <header class="bg-black/5 absolute inset-0 flex items-end ">
      <div class="absolute inset-0 h-4/5 flex flex-col items-center justify-between">
        <article>
          <h1
            phx-mounted={
              JS.transition({"ease-in duration-[1s]", "opacity-0", "opacity-100"}, time: 1000)
            }
            class="text-[clamp(3.25rem,10vw,10rem)] leading-[calc(clamp(3.25rem,10vw,10rem)*1.2)] mt-4 text-center font-extrabold tracking-tight text-white"
            id="hero-title"
          >
            Re-ignite your passion for life
          </h1>
        </article>
        <%!-- Feed --%>

        <ul
          id="feed"
          phx-hook="IPRegistryHook"
          phx-update="stream"
          class="flex flex-col items-end h-30 w-full overflow-hidden"
        >
          <li
            :for={{id, feed} <- @streams.feed}
            class={[
              "feed mx-2 bg-gray-800/30 text-white flex flex-col items-center justify-center p-4 rounded text-xs transition transform duration-1000 linear"
            ]}
            id={id}
          >
            <p class="text-[10px]">{feed.action}</p>
            <p class="max-w-28 overflow-hidden text-ellipsis">{feed.username}</p>
            <img src={feed.flag_url} class="my-1 h-9 w-18" />
            <p class="text-[10px]">{feed.region_name}</p>
            <p class="text-[10px]">{feed.time_zone}</p>
          </li>
        </ul>

        <%!-- End Feed --%>

        <footer>
          <div>
            <article
              class="flex flex-col items-center px-2"
              phx-mounted={
                JS.transition(
                  {
                    "ease-in duration-[1.2s]",
                    "opacity-0",
                    "opacity-100"
                  },
                  time: 1200
                )
              }
            >
              <hgroup class="relative flex items-center justify-center py-10 text-center">
                <Typography.h3 class="text-white">
                  The site for grown-ups <br /> Serious Aussie singles only
                </Typography.h3>
              </hgroup>
            </article>
          </div>
          <nav
            phx-mounted={
              JS.transition(
                {
                  "ease-in duration-[1.5s]",
                  "opacity-0",
                  "opacity-100"
                },
                time: 1500
              )
            }
            class="relative flex flex-col items-center justify-center mt-8 space-y-8"
            aria-label="Main call to action"
          >
            <.link href="#hero" class="" aria-label="Learn more about our features">
              <figure class="flex flex-col items-center justify-center">
                <Typography.p class="font-semibold text-white">Learn more</Typography.p>
                <.icon name="hero-chevron-down" class="mt-4 text-white" />
              </figure>
            </.link>
            <div class="text-gray-50">OR</div>
            <button
              type="button"
              phx-click="start_trial"
              aria-label="Start your free 7-day trial"
              class="transition duration-400 ease-in-out hover:-translate-y-1 hover:scale-110  btn btn-xl btn-info rounded-full px-6 py-2.5 uppercase"
            >
              <p class="text-[clamp(1.25rem,4vw,2rem)] leading-[calc(clamp(1.25rem,4vw,2rem)*1.2)] font-semibold text-white">
                Start 7-Day Free Trial
              </p>
            </button>
          </nav>
        </footer>
      </div>
    </header>
  </section>

  <Layout.section_container class="relative" id="hero">
    <Layout.hero_section>
      <:header>
        I'm OK. You're OK.
      </:header>
      <:content>
        <Typography.p>
          You're ready to meet someone special.
        </Typography.p>
        <Typography.p>
          You've matured. You've had your fill of frivolous dates and are comfortable with commitment - with the right person, of-course.
        </Typography.p>

        <Typography.p>
          You're in the right place. This is a site for the emotionally grown-up.
        </Typography.p>
        <Typography.h5>
          This is for you.
        </Typography.h5>
      </:content>
    </Layout.hero_section>
    <div class="divider divider-neutral"></div>
    <Layout.hero_section>
      <:header>
        Safe and Secure
      </:header>

      <:content>
        <article class="">
          <section aria-labelledby="safe-features-heading" class="relative">
            <img
              src={~p"/images/holding-hands.jpg"}
              alt="Aussie couple holding hands."
              class="aspect-3/2 w-full object-cover sm:aspect-5/2 lg:aspect-auto lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16"
              loading="lazy"
            />

            <div class="mx-auto max-w-2xl px-4 pt-16 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
              <div class="lg:col-start-2">
                <Typography.p class="font-medium ">
                  Our innovative approach is designed to filter out potential scammers, fakes, and bots.
                </Typography.p>
                <Typography.h4 class="my-10 font-bold">
                  🔒 How We Protect Aussie Singles
                </Typography.h4>
                <Typography.p class="mt-4">
                  We've obsessed over every detail and pain-point to develop a platform that filters out scammers and bots.
                </Typography.p>

                <dl
                  class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2"
                  aria-label="Safety features"
                >
                  <div>
                    <dt class="font-medium ">Live Video Profiles</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        All video profiles are recorded in-app so we see the <em>real</em>
                        you. See real smiles, hear real voices. No more catfishing.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Live Photo Checks</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        No uploaded pics. Snap your profile photo in-app. We make sure you're you.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Verification by email and SMS</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        We verify all profiles by email and SMS to ensure you're a real person.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">No tolerance for bad behaviour</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        We don't tolerate bad behaviour. Report any inappropriate behaviour and we will take action.
                      </Typography.p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </section>
        </article>
      </:content>
    </Layout.hero_section>
    <div class="divider divider-neutral"></div>

    <Layout.section_quote
      class="rounded-md"
      author="Maya Angelou"
      bio="American memoirist, poet, and civil rights activist"
      quote="Have enough courage to trust love one more time and always one more time."
      image_url="/images/couple.jpg"
      alt_text="passionate couple"
    />
    <div class="divider divider-neutral"></div>
    <Layout.hero_section id="features">
      <:header>
        Unleash your &#128293;
      </:header>

      <:content>
        <article class="">
          <section aria-labelledby="features-heading" class="relative">
            <img
              src={~p"/images/couple2.jpg"}
              loading="lazy"
              alt="Australian womans face being kissed."
              class="aspect-3/2 w-full object-cover sm:aspect-5/2 lg:aspect-auto lg:absolute lg:h-full lg:w-1/2 lg:pr-4 xl:pr-16"
            />

            <div class="mx-auto max-w-2xl px-4 pt-16 pb-16 sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-2 lg:gap-x-8 lg:px-8 lg:pt-32">
              <div class="lg:col-start-2">
                <Typography.p class="font-medium ">
                  Re-discover the unbridled joy of a new love.
                </Typography.p>
                <Typography.h4 class="my-10 font-bold">
                  Make genuine connections with genuine people.
                </Typography.h4>
                <Typography.p class="mt-4 ">
                  Wave good-bye to the endless swiping and say hello to real, authentic connections.
                </Typography.p>

                <dl
                  class="mt-10 grid grid-cols-1 gap-x-8 gap-y-10 text-sm sm:grid-cols-2"
                  aria-label="App features"
                >
                  <div>
                    <dt class="font-medium ">Live Video Chat</dt>
                    <dd class="mt-2">
                      <Typography.p class="font-extralight">
                        Really get to know your match with video chat. See their engaging smile, hear their voice. No more catfishing.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Chat Lounge</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        Relax and meet new people in our Lounge. No pressure, just good vibes.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Live Private Chat</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        Connect with your match in private chat. Share your thoughts, dreams, and more. No interruptions. Arrange a video call when you're ready.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">In-app Voice Messaging</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        See a profile you like? Send a voice message to introduce yourself.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Advanced Search</dt>
                    <dd class="mt-2 ">
                      <Typography.p class="font-extralight">
                        Connect with singles in your city or suburb. Search for your perfect match by location.
                      </Typography.p>
                    </dd>
                  </div>
                  <div>
                    <dt class="font-medium ">Personal Dashboard</dt>
                    <dd class="mt-2 t">
                      <Typography.p class="font-extralight">
                        Your personal dashboard keeps track of your matches, messages, and more.
                      </Typography.p>
                    </dd>
                  </div>
                </dl>
              </div>
            </div>
          </section>
        </article>
      </:content>
    </Layout.hero_section>
    <div class="divider divider-neutral"></div>
    <Layout.hero_section id="testimonials">
      <:header>
        Loved by Singles Across Australia
      </:header>
      <:content>
        <Typography.p class="font-medium">
          Sure to be loved by you. <span class="text-3xl" aria-hidden="true">&#128149;</span>
        </Typography.p>
        <section class="grid gap-8 md:grid-cols-2" aria-label="User testimonials">
          <blockquote class="bg-accent-100 border-content-100 rounded p-6 shadow-xl">
            <Typography.p class="font-extralight ">
              Finally an app where I don't waste time on scammers!
            </Typography.p>
            <footer class="mt-4 flex justify-center gap-3">
              <.icon name="hero-map-pin" class="text-outback-red-500 h-5 w-5" />
              <cite class="font-semibold">Sarah, 32 - Bondi</cite>
            </footer>
          </blockquote>
          <blockquote class="bg-accent-100 border-accent-400 rounded p-6 shadow-xl">
            <Typography.p class="font-extralight ">
              Met my partner here - actual video profiles make all the difference
            </Typography.p>
            <footer class="mt-4 flex justify-center gap-3 ">
              <.icon name="hero-map-pin" class="text-outback-red-500 h-5 w-5" />
              <cite class="font-semibold">James, 38 - South Yarra</cite>
            </footer>
          </blockquote>
        </section>
      </:content>
    </Layout.hero_section>
    <div class="divider divider-neutral"></div>
    <section id="pricing" class="fade pb-24 sm:pb-32" aria-labelledby="pricing-heading">
      <div class="py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <header class="mx-auto max-w-4xl text-center">
            <Typography.h2
              id="pricing-heading"
              class="text-pretty mb-6 font-semibold tracking-tight sm:text-balance "
            >
              Dive in and test the water
            </Typography.h2>

            <article class="rounded-xl border bg-gradient-to-r from-indigo-900 to-indigo-400 p-6 text-white">
              <Typography.p class="text-pretty text-center text-lg font-semibold sm:text-xl/8">
                7-Day Free Trial
              </Typography.p>
              <Typography.p class="text-pretty text-center text-lg font-semibold  sm:text-xl/8">
                No payment required
              </Typography.p>

              <div>
                <button
                  type="button"
                  phx-click="start_trial"
                  class="btn btn-secondary rounded-full mt-3"
                  aria-label="Begin your 7-day free trial with no payment required"
                >
                  Start for free!
                </button>
              </div>
              <Typography.p class="text-pretty mx-auto mt-6 inline-flex max-w-2xl px-6 py-3 text-lg font-medium  sm:text-xl/8">
                Let's find your perfect match.
              </Typography.p>
            </article>
          </header>
          <div class="mx-auto mt-12 max-w-2xl rounded-3xl sm:mt-20 lg:mx-0 lg:flex lg:max-w-none">
            <div class="p-8 sm:p-10 lg:flex-auto">
              <h3 class="text-3xl font-semibold tracking-tight ">
                Simple affordable pricing
              </h3>

              <Typography.p class="mt-6">
                We believe in honest, transparent pricing. No hidden fees, no surprises.
              </Typography.p>
              <div class="mt-10 flex items-center gap-x-4">
                <h4 class="text-sm/6 flex-none font-semibold">
                  What's included
                </h4>
                <div class="h-px flex-auto " aria-hidden="true"></div>
              </div>
              <ul
                role="list"
                class="text-sm/6 mt-8 grid grid-cols-1 gap-4  sm:grid-cols-2 sm:gap-6"
                aria-label="Features included in subscription"
              >
                <li class="flex gap-x-3 items-center">
                  <svg
                    class="fill-lime-500 h-8 w-8 sm:h-10 sm:w-10 flex-none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <Typography.p>
                    Unlimited Private chat access
                  </Typography.p>
                </li>
                <li class="flex gap-x-3 items-center">
                  <svg
                    class="fill-lime-500 h-8 w-8 sm:h-10 sm:w-10 flex-none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <Typography.p>
                    Unlimited Lounge chat access
                  </Typography.p>
                </li>
                <li class="flex gap-x-3 items-center">
                  <svg
                    class="fill-lime-500 h-8 w-8 sm:h-10 sm:w-10 flex-none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <Typography.p>
                    Unlimited Voice Messaging
                  </Typography.p>
                </li>
                <li class="flex gap-x-3 items-center">
                  <svg
                    class="fill-lime-500 h-8 w-8 sm:h-10 sm:w-10 flex-none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <Typography.p>
                    Unlimited Search and Matches
                  </Typography.p>
                </li>
                <li class="flex gap-x-3 items-center">
                  <svg
                    class="fill-lime-500 h-8 w-8 sm:h-10 sm:w-10 flex-none"
                    viewBox="0 0 20 20"
                    aria-hidden="true"
                    data-slot="icon"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                      clip-rule="evenodd"
                    />
                  </svg>
                  <Typography.p>
                    1000 minutes of Videocalls.<br />
                    You can always add more minutes if you need them.
                  </Typography.p>
                </li>
              </ul>
            </div>
            <aside class="-mt-2 p-2 lg:mt-0 lg:w-full lg:max-w-md lg:shrink-0">
              <div class="ring-gray-900/5 relative overflow-hidden rounded-2xl border border-zinc-500  py-10 text-center ring-1 ring-inset lg:flex lg:flex-col lg:justify-center lg:py-16">
                <!-- Launch Offer Ribbon -->
                <div class="h-[250px] w-[375px] absolute top-0 -right-10 overflow-hidden opacity-90">
                  <div class="top-[20px] right-[-90px] w-[375px] absolute rotate-45 bg-gradient-to-r from-amber-200 to-amber-600 py-2 text-center shadow-md">
                    <p class="text-xl font-bold uppercase tracking-wide ">
                      <span style="font-size:30px;">&#127880;</span> Special <br />Launch Offer!
                    </p>
                  </div>
                </div>

                <div class="mx-auto max-w-xs px-8">
                  <p class="mt-6 flex items-baseline justify-center gap-x-2">
                    <span class="text-6xl font-semibold tracking-tight ">$19</span>
                    <span class="text-sm/6 tracking-wide ">AUD</span>
                  </p>
                  <p class="text-base">Monthly</p>
                  <button
                    type="button"
                    class="btn btn-secondary m-4 rounded-full uppercase"
                    aria-label="Begin your 7-day free trial with no credit card required"
                  >
                    Start 7-Day Free trial
                  </button>
                  <p class="text-xs/5 mt-6 ">
                    Pay no money now.
                    <span class="font-semibold">
                      Your subscription only begins after your free trial ends.
                    </span>
                    Cancel your subscription at anytime.
                  </p>
                </div>
              </div>
            </aside>
          </div>
        </div>
      </div>
    </section>
    <div class="hidden" aria-hidden="true">
      Dating for grown-ups. Find your soulmate in Sydney, Melbourne, Brisbane, Perth and countless other cities. Verified Australian profiles only.
      Safe dating with video verification. Meet real people in your suburb.
    </div>
  </Layout.section_container>
</PartnersWeb.Layouts.app>
