<Layouts.flash_group flash={@flash} />
<div class="flex">
<Layouts.theme_toggle />
</div>
<p class="text-primary">HELLO</p>
<p class="text-secondary">HELLO</p>
<p class="text-accent">HELLO</p>
<p class="text-base">HELLO</p>
<button class="btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl btn btn-info">Button</button>
